################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MovieRank/.vs/MovieRank/v16/TestStore/0
/MovieRank/MovieRank/obj/Debug/netcoreapp3.1
/MovieRank/MovieRank.Contracts/obj/Debug/netcoreapp3.1
/MovieRank/MovieRank.Libs/obj/Debug/netcoreapp3.1
/MovieRank/.vs/MovieRank/config/applicationhost.config
/MovieRank/.vs/MovieRank/v16/.suo
/MovieRank/MovieRank.Libs/obj
/MovieRank/MovieRank.Libs/bin/Debug/netcoreapp3.1/MovieRank.Libs.pdb
/MovieRank/MovieRank.Libs/bin/Debug/netcoreapp3.1/MovieRank.Libs.dll
/MovieRank/MovieRank.Libs/bin/Debug/netcoreapp3.1/MovieRank.Libs.deps.json
/MovieRank/MovieRank.Libs/bin/Debug/netcoreapp3.1/MovieRank.Contracts.pdb
/MovieRank/MovieRank.Libs/bin/Debug/netcoreapp3.1/MovieRank.Contracts.dll
/MovieRank/MovieRank.Contracts/obj/project.nuget.cache
/MovieRank/MovieRank.Contracts/obj/project.assets.json
/MovieRank/MovieRank.Contracts/obj/MovieRank.Contracts.csproj.nuget.g.targets
/MovieRank/MovieRank.Contracts/obj/MovieRank.Contracts.csproj.nuget.g.props
/MovieRank/MovieRank.Contracts/obj/MovieRank.Contracts.csproj.nuget.dgspec.json
/MovieRank/MovieRank.Contracts/bin/Debug/netcoreapp3.1/MovieRank.Contracts.pdb
/MovieRank/MovieRank.Contracts/bin/Debug/netcoreapp3.1/MovieRank.Contracts.dll
/MovieRank/MovieRank.Contracts/bin/Debug/netcoreapp3.1/MovieRank.Contracts.deps.json
/MovieRank/MovieRank/obj/project.nuget.cache
/MovieRank/MovieRank/obj/project.assets.json
/MovieRank/MovieRank/obj/MovieRank.csproj.nuget.g.targets
/MovieRank/MovieRank/obj/MovieRank.csproj.nuget.g.props
/MovieRank/MovieRank/obj/MovieRank.csproj.nuget.dgspec.json
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.runtimeconfig.json
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.runtimeconfig.dev.json
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.pdb
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.Libs.pdb
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.Libs.dll
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.exe
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.dll
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.deps.json
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.Contracts.pdb
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/MovieRank.Contracts.dll
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/AWSSDK.Extensions.NETCore.Setup.dll
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/AWSSDK.DynamoDBv2.dll
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/AWSSDK.Core.dll
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/appsettings.json
/MovieRank/MovieRank/bin/Debug/netcoreapp3.1/appsettings.Development.json
/MovieRank/MovieRanling.Integration.Tests/obj
